	<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Login</li>
	</ol>
	</div>

	<div class="container">
		<div id="login-row" class="row">
			<hr class="login-hr">
			<div class="col-md-6 login-col">
				<h2 class="login-title">Login</h2>
				<hr class="login-hr1">
				{% form 'customer_login', action:'https://store.wikimedia.org/account/login' %} {{ form.errors | default_errors }}
				<label for="customer_email">Email Address</label>
				<br>
				<input type="email" class="mw-ui-input" name="customer[email]" />
				<br>
				<label for="customer_password">Password<span class="repass-link">Forgot Password?</span></label>
				<br>
				<input type="password" class="mw-ui-input" name="customer[password]" />
				<br>
				<input type="submit" class="constructive" value="Login" /> {% endform %}
				{% form 'recover_customer_password', id:'recover-password', class:'login-hidde-toggle' %}
				{{ form.errors | default_errors }}
				<label for="customer_email">Email Address</label><br>
				<input type="email" class="mw-ui-input" name="email" /><br>
				<input type="submit" value="Submit" />
				<span class="back-to-login">Back to Login</span>
				{% endform %}
			</div>
			<div class="col-md-6 register-col">
				<h2 class="register-title">Register</h2>
				<hr class="register-hr">
				{% form 'create_customer' %} {{ form.errors | default_errors }}
				<label for="first_name">First Name</label>
				<br>
				<input type="text" value="" class="mw-ui-input" name="customer[first_name]" size="30" />
				<br>
				<label for="last_name">Last Name</label>
				<br>
				<input type="text" value="" class="mw-ui-input" name="customer[last_name]" size="30" />
				<br>
				<label for="email">Email Address</label>
				<br>
				<input type="email" value="" class="mw-ui-input" name="customer[email]" size="30" />
				<br>
				<label for="password">Password</label>
				<br>
				<input type="password" value="" class="mw-ui-input" name="customer[password]" size="30" />
				<br>
				<input type="submit" class="constructive" value="Register" /> {% endform %}
			</div>
		</div>
	</div>
	<script>
		$( document ).ready(function () {
			if(window.location.href.indexOf("#") > -1) {
				window.location.replace("/account/login");
			}
		});
		$( ' .repass-link ' ).on( 'click', function() {
			$( '#customer_login' ).toggleClass( 'login-hidde-toggle' );
			$( '#recover-password' ).toggleClass( 'login-hidde-toggle' );
			$( '.login-title' ).text('Recover Password');
		});
		$( '.back-to-login' ).on( 'click', function() {
			$( '#customer_login' ).toggleClass( 'login-hidde-toggle' );
			$( '#recover-password' ).toggleClass( 'login-hidde-toggle' );
			$( '.login-title' ).text('Login');
		});
	</script>