<div class="container">
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Login</li>
</ol>
</div>

<div class="container">
<div class="row">
	<div class="col-md-6">
		<h2>Login</h2>
		<hr>

		{% form 'customer_login' %}

		{{ form.errors | default_errors }}

		<label for="customer_email">Email Address</label><br>
		<input type="email" class="mw-ui-input" name="customer[email]" /><br>
		<label for="customer_password">Password</label><br>
		<input type="password" class="mw-ui-input"  name="customer[password]" /><br>
		<input type="submit" value="Sign In" />

		{% endform %}
	</div>

	<div class="col-md-6">
		<h2>Forgot Password?</h2>
		<hr/>
		{% form 'recover_customer_password' %}
		{{ form.errors | default_errors }}

		<label for="customer_email">Email Address</label><br>
		<input type="email" class="mw-ui-input" name="customer[email]" /><br>
		<input type="submit" value="Submit" />

		{% endform %}
	</div>
</div>
</div>
