<div class="container">
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Reset Password</li>
</ol>
</div>

<div class="container">
<h2>Reset Password</h2>
<hr>

{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<label for="password">Password</label>
<input type="password" value="" class="mw-ui-input" name="customer[password]" size="16" />

<label for="password_confirmation">Password Confirmation</label>
<input type="password" value="" class="mw-ui-input" name="customer[password_confirmation]" size="16" />

<input type="submit" value="Reset Password" />

{% endform %}

</div>
