<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Collection List</li>
	</ol>
</div>

{% paginate collections by 6 %}
<div class="container">
	<div class="row">
	{% for collection in collections %}
		<div class="col-md-12">
			<a
				href="{{ collection.url }}"
				class="collection_list_item"
				style="background-image: url({{ collection.image | img_url: 'master' }})">
				{{ collection.title }}
			</a>
		</div>
	{% else %}
		<p>There are no collections in this view.</p>
	{% endfor %}
	</div>
</div>

{% if paginate.pages > 1 %}
	<div id="pagination">
		{{ paginate | default_pagination }}
	</div>
{% endif %}
{% endpaginate %}